/* Estilos gerais */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

h1 {
    text-align: center;
    color: #333;
}

/* Estilos para os botões */
.botoes {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-bottom: 20px;
}
/* Estilos para o botão Salvar Dados Manuais */
button[onclick="salvarDadosManuais()"] {
    background-color: #007bff; /* Azul */
    color: white;
}
button {
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #4CAF50;
    color: white;
    font-size: 14px;
    flex: 1 1 150px; /* Flexível, mínimo de 150px */
}

button:hover {
    opacity: 0.8;
}

.btn-limpar {
    background-color: #ff4444;
}

/* Estilos para a tabela */
.tabela-container {
    overflow-x: auto; /* Permite rolagem horizontal em telas pequenas */
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    background-color: white;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}

th {
    background-color: #f2f2f2;
}

tr:nth-child(even) {
    background-color: #f9f9f9;
}

tr:hover {
    background-color: #f1f1f1;
}

/* Estilos para a coluna de situação */
td:nth-child(6) {
    font-weight: bold;
}

/* Cores para a situação */
.Vencido {
    background-color: #ffcccc; /* Vermelho claro */
}
.Vence-hoje {
    background-color: #ffebcc; /* Laranja claro */
}
.Prazo-estourado {
    background-color: #fff3cc; /* Amarelo claro */
}
.No-prazo-para-retirada {
    background-color: #ccffcc; /* Verde claro */
}
.Dentro-da-validade {
    background-color: #ccf2ff; /* Azul claro */
}

/* Media Queries para responsividade */
@media (max-width: 768px) {
    .botoes {
        flex-direction: column;
    }

    button {
        width: 100%;
    }

    table {
        font-size: 14px;
    }

    th, td {
        padding: 6px;
    }
}

@media (max-width: 480px) {
    h1 {
        font-size: 24px;
    }

    table {
        font-size: 12px;
    }

    th, td {
        padding: 4px;
    }
}