/* Estilos gerais */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    background-image: url(5134341.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    margin: 0;
    padding: 20px;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.473);
    border-radius: 10px;
}

h1 {
    text-align: center;
    color: #333;
    border-bottom: 1px solid #c5c5c5;
    padding: 10px;
}

/* Estilos dos botões */
.botoes_contents {
    display: flex;
    width: 65%;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px; /* Espaçamento entre os botões */
   
    border-radius: 10px;
}
.botoes {
    
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    gap: 10px; /* Espaçamento entre os botões */
    margin-bottom: 20px;
    border-radius: 10px;
}

.botoes button {
    padding: 10px 20px;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-size: 14px;
    width: 200px;
    height: 50px;
}

/* Botão de Importar Planilha (Azul - Ação de carregar dados) */
.botoes button:nth-child(2) {
    background-color: #007bff; /* Azul */
}

.botoes button:nth-child(2):hover {
    background-color: #0056b3; /* Azul mais escuro */
}

/* Botão de Adicionar Manualmente (Verde - Ação de adicionar) */
.botoes button:nth-child(3) {
    background-color: #28a745; /* Verde */
}

.botoes button:nth-child(3):hover {
    background-color: #217288; /* Verde mais escuro */
}

/* Botão de Salvar Base de Dados (Azul claro - Ação de salvar) */
.botoes button:nth-child(4) {
    background-color: #17a2b8; /* Azul claro */
}

.botoes button:nth-child(4):hover {
    background-color: #138496; /* Azul claro mais escuro */
}

/* Botão de Salvar Dados Manuais (Verde claro - Ação de salvar) */
.botoes button:nth-child(5) {
    background-color: #20c997; /* Verde claro */
}

.botoes button:nth-child(5):hover {
    background-color: #1aa179; /* Verde claro mais escuro */
}

/* Botão de Atualizar Datas (Roxo - Ação de atualização) */
.botoes button:nth-child(6) {
    background-color: #c14295; /* Roxo */
}

.botoes button:nth-child(6):hover {
    background-color: #5a3d8e; /* Roxo mais escuro */
}

/* Botão de Limpar Dados (Vermelho - Ação destrutiva) */
.botoes button.btn-limpar {
    background-color: #dc3545; /* Vermelho */
}

.botoes button.btn-limpar:hover {
    background-color: #c82333; /* Vermelho mais escuro */
}

/* Estilos do formulário */
#formularioAdicionar, #modalEditar {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

#formularioAdicionar h2, #modalEditar h2 {
    margin-top: 0;
    color: #333;
}

#formularioAdicionar label, #modalEditar label {
    display: block;
    margin-bottom: 5px;
    color: #555;
}

#formularioAdicionar input, #modalEditar input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

#formularioAdicionar button[type="submit"], #modalEditar button[type="submit"] {
    background-color: #28a745; /* Verde */
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#formularioAdicionar button[type="submit"]:hover, #modalEditar button[type="submit"]:hover {
    background-color: #218838; /* Verde mais escuro */
}

#formularioAdicionar button[type="button"], #modalEditar button[type="button"] {
    background-color: #dc3545; /* Vermelho */
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#formularioAdicionar button[type="button"]:hover, #modalEditar button[type="button"]:hover {
    background-color: #c82333; /* Vermelho mais escuro */
}

/* Estilos da tabela */
.tabela-container {
    overflow-x: auto;
}

#estoqueTable {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

#estoqueTable th,
#estoqueTable td {
    padding: 12px;
    text-align: center;
    border: 1px solid #a2a2a2;
}

#estoqueTable th {
    background-color: #1d3752; /* Azul */
    color: #f1f1f1;
}

#estoqueTable tr:hover {
    background-color: #f1f1f1;
}

#estoqueTable button {
    padding: 5px 10px;
    background-color: #dc3545; /* Vermelho */
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#estoqueTable button:hover {
    background-color: #c82333; /* Vermelho mais escuro */
}
/* Estilo para o input de arquivo */
#fileInput {
    padding: 0px;
    display: flex;
    flex-wrap: wrap;
     border-radius: 5px;
     font-size: 16px;
     
 }
 #importar_planilha{
     background: #74a8fc;
 
     &:hover{
         background: #6696e4;
     }
 }

/* Responsividade */
@media (max-width: 768px) {
    .botoes {
        flex-direction: column;
    }

    .botoes button {
        width: 100%;
        margin-bottom: 10px;
    }

    #formularioAdicionar, #modalEditar {
        padding: 15px;
    }

    #formularioAdicionar input, #modalEditar input {
        font-size: 14px;
    }

    #estoqueTable th,
    #estoqueTable td {
        padding: 8px;
    }

    #estoqueTable button {
        padding: 5px;
        font-size: 14px;
    }
}

@media (max-width: 480px) {
    h1 {
        font-size: 24px;
    }

    #formularioAdicionar h2, #modalEditar h2 {
        font-size: 20px;
    }

    #formularioAdicionar input, #modalEditar input {
        font-size: 12px;
    }

    #estoqueTable th,
    #estoqueTable td {
        font-size: 12px;
    }

    #estoqueTable button {
        font-size: 12px;
    }
    #fileInput {
    
         
         font-size: 12px;
         
     }
}


